<% provide(:title, "Update Device") %>
<div class="row content-justify-center">
  <div class="col-sm-3">
  </div>
  <div class="col-md-5 shadow p-3 mb-5 bg-white rounded">
    <div class="card text-center">
      <div class="card-header text-white bg-primary text-center">
        <h4>Update Device</h4>
      </div>
      <div class="card-body text-center">
        <table class="card-table table">
          <tr>
            <td class="text-left">
              <%= form_for(@device) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.label :dev_name, "Device Name"%>
              <%= f.text_field :dev_name, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pi, "Device Raspberry Pi"%>
              <%= f.text_field :dev_pi, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_location, "Device Location"%>
              <%= f.text_field :dev_location, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pin_count, "Device Total Pin Count" %>
              <%= f.text_field :dev_pin_count, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pin1, "Pin 1 Address" %>
              <%= f.text_field :dev_pin1, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pin2, "Pin 2 Address" %>
              <%= f.text_field :dev_pin2, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pin3, "Pin 3 Address" %>
              <%= f.text_field :dev_pin3, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pin4, "Pin 4 Address" %>
              <%= f.text_field :dev_pin4, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_pin5, "Pin 5 Address" %>
              <%= f.text_field :dev_pin5, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.label :dev_data, "Does Device Collect Data?" %>
              <%= f.select(:dev_data, [["Yes", "true"], ["No", "false"]], :prompt => true) %>
            </td>
          </tr>
        </table>
        <br><br>
        <%= f.submit "Update Device", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
