<% provide(:title, "Add Device") %>
<div class="row content-justify-center">
  <div class="col-sm-3">
  </div>
  <div class="col-md-5 shadow p-3 mb-5 bg-white rounded">
    <div class="card text-center">
      <div class="card-header text-white bg-primary text-center">
        <h4>Add Device</h4>
      </div>
      <div class="card-body text-center">
        <%= simple_form_for(@device, html: { class: 'form-inline' }) do |f| %>
        <table class="card-table table">
          <tr>
            <td class="text-left">
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.input :dev_name, label: 'Device Name', error: 'Device Name Required'%>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.association :rpi, label_method: :rpi_name, value_method: :id, include_blank: true %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_location, label: "Device Location"%>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_pin_count, label: "Device Total Pin Count" %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_pin1, label: "Pin 1 Address" %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_pin2, label: "Pin 2 Address" %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_pin3, label: "Pin 3 Address" %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_pin4, label: "Pin 4 Address" %>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <%= f.input :dev_pin5, label: "Pin 5 Address" %>
            </td>
          </tr>
          <tr>
            <td class="text-left">

              <%= f.input(:dev_data, label: 'Does Device Collect Data?', collection: [["Yes", "true"], ["No", "false"]], :prompt => true) %>
            </td>
          </tr>
        </table>
        <br><br>
        <%= f.submit "Add Device", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
