<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-inverse">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <h4 class="nav-link">Home Automation</h4>
          </li>
        </ul>
        <nav class="navbar navbar-expand-md navbar-dark navbar-right">
          <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="<%= help_path %>">Help <span class="sr-only">(current)</span></a>
            </li>
            <% if admin_priv? %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= users_path %>">Users <span class="sr-only">(current)</span></a>
            </li>
            <% end %>
            <li  class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">Menu  </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="<%= root_path %>">Home</a>
                <% if admin_priv? %>
                <%= link_to(raw("Controls"), controls_path, :class => "dropdown-item") %>
                <%= link_to(raw("Raspberry's"), rpis_path, :class => "dropdown-item") %>
                <%= link_to(raw("New Raspberry"), new_rpi_path, :class => "dropdown-item") %>
                <%= link_to(raw("Devices"), devices_path, :class => "dropdown-item") %>
                <%= link_to(raw("New Device"), new_device_path, :class => "dropdown-item") %>
                <a class="dropdown-item" href="<%= signup_path %>">Sign Up</a>
                <% end %>
                <% if logged_in? %>
                <%= link_to(raw("Profile"), current_user, :class => "dropdown-item") %>
                <a class="dropdown-item" href="<%= edit_user_path(current_user) %>">Settings</a>
                <div class="dropdown-divider"></div>
                <%= link_to(raw("Log out"), logout_path, :class => "dropdown-item", method: :delete) %>
                <% else %>
                <%= link_to(raw("Log in"), login_path, :class => "dropdown-item") %>
                <% end %>
                <a class="dropdown-item" href="<%= help_path %>">Help</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
  </header>
